
<section id="banner" data-vide-bg="{{site.baseurl}}/assets/video/{% if site.video %}{{ site.video }}{% endif %}" data-vide-options="posterType: jpg, loop: true, muted: false, position: 50% 50%">
  <div class="wrapper">
    <div class="content">
      <h1 class="title">{% if site.banner-title %}{{ site.banner-title }}{% else %}Bienvenid@{% endif %}</h1>
      <h2 class="title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %}¡Es genial tenerte!{% endif %}</h2>
      <h3 class="sub_title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %}:) {% endif %}</h3>
      <h3 class="sub_title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %} 0995957267 {% endif %}</h3>
      <h3 class="sub_title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %} Revise productos y precios {% endif %}</h3>
      <h3 class="sub_title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %} Sangolquí - Ecuador {% endif %}</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1228815.3131367825!2d-83.5859682392578!3d-0.6183804504592211!2m3!1f63.871896862692!2f23.7982846471706!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x91d5bc5f0b638cbb%3A0xd93b9b7001cabe09!2sAv.%20Juan%20Salinas%20%26%20Paraiso%2C%20Sangolqu%C3%AD!5e1!3m2!1ses!2sec!4v1604112405217!5m2!1ses!2sec" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</section> <!-- End Section Banner -->
